certifi==2024.7.4
charset-normalizer==3.3.2
decorator==4.4.2
idna==3.7
imageio==2.34.2
imageio-ffmpeg==0.5.1
lazy_loader==0.4
moviepy==1.0.3
networkx==3.3
numpy==2.0.1
opencv-python==4.10.0.84
packaging==24.1
Pillow==9.5.0
proglog==0.1.10
requests==2.32.3
scikit-image==0.24.0
scipy==1.14.0
tifffile==2024.7.24
tqdm==4.66.5
urllib3==2.2.2
